header {
        width: 100%;    
}

nav {
    background-color: #D7CEB2;
}

.menu {
    margin-top: 0px;
    display: -webkit-box;
    width: fit-content;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

body {
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 0px;
}

li:not(:last-child) {
    margin-right: 150px;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
}

.img-home {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sub-title {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.sub-title-contact {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
}

.body-container {
    padding-left: 250px;
}

footer{
    background-color: #837a5f;
    width: 100%;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    display: flow-root;
}

.img-contact{
    margin-top: 50px;
    display: block;
    width: 70%;
    height: auto;
    object-fit: cover;
    padding-left: 15%;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

form div {
    margin-bottom: 10px;
    
}

form span {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    background: #f3f5f4;

}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(53, 189, 148);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

form button:hover {
    background-color: #15775a;
    font-family: 'Open Sans', sans-serif;
}

form textarea {
    height: 120px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 2px iline #dadada; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
}


.texto-quadrado {
    width: 800px; 
    height: 300px; 
    overflow: hidden; 
    align-items:normal; 
    justify-content: center; 
    font-family: 'Open Sans', sans-serif;
}

table{
    font-family: 'Open Sans', sans-serif;
}

.title-destiny {
    margin-left: 245px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.title-contact {
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}